<div class="container content fields">
    <div>
        <input type="text" id="customername" placeholder="Customer Name" ng-model="txtSearch">
        <a href="#/table" role="button" ng-click="searchBy()" class="btn btn-primary" id="search"><span class="glyphicon glyphicon-search"></span></a>
        <a href="#/table" role="button" ng-click="viewAll()" ng-model="viewAllData" class="btn btn-warning view" id="btnviewall">View All</a>
        <a role="button" href="#addCus" id="addNewUser" ng-click="Addnewcus(view1)" data-toggle="modal" class="btn btn-default newcustomer"><span class="glyphicon glyphicon-user"></span> Add New Customer</a>
    </div>
</div>
